<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('nav.ejs') %>
        <input class="search">
        <button class="search-send">검색</button>
        <div class="white-bg">
            <%for (let i=0; i < post.length; i++) { %>
                <div class="list-box">
                    <a href="/detail/<%= post[i]._id %>">
                        <h4>
                            <%= post[i].title %>
                                <a href="/edit/<%= post[i]._id %>">✏️</a>
                                <span class="delete" data-id="<%= post[i]._id %>">🗑️</span>
                        </h4>
                    </a>
                    <p>
                        <%= post[i].content %>
                    </p>
                </div>
                <script>
                    document.querySelectorAll('.delete')[parseInt('<%= i %>')].addEventListener('click', function (e) {
                        fetch('/delete?id=' + e.target.dataset.id, {
                            method: 'DELETE',
                        }).then((r) => r.text()).then((r) => {
                            console.log(r);
                            e.target.parentElement.parentElement.style.display = 'none';
                        })
                    })

                    document.querySelector('.search-send').addEventListener('click', function () {
                        let searchTxt = document.querySelector('.search').value
                        location.href = '/search?val=' + searchTxt
                    })
                </script>
                <% } %>
                    <a href="/list/next/<%= post[post.length - 1]._id %>">다음</a>

        </div>

        <script>
            let eventSource = new EventSource('/stream/list');
            eventSource.addEventListener('msg', (e) => {
                console.log(e.data);
                let d = JSON.parse(e.data)
                document.querySelector('.white-bg').insertAdjacentHTML('afterbegin', `<div class="list-box">
                        <h4>
                            ${d.title}
                        </h4>
                    </a>
                    
                </div>`)
            })
        </script>
</body>

</html>