<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <div class="white-bg">
        <%for (let i = 0; i < post.length; i++) { %>
            <div class="list-box">
                <a href="/detail/<%= post[i]._id %>">
                    <h4><%= post[i].title %>
                        <a href="/edit/<%= post[i]._id %>">✏️</a>
                        <span class="delete">🗑️</span></h4>
                    </a>
                <p><%= post[i].content %></p>
              </div>
              <script>
                document.querySelectorAll('.delete')[parseInt('<%= i %>')].addEventListener('click', function() {
                        fetch('/delete', {
                            method : 'POST',
                            headers : {
                                'content-Type' : 'application/json'
                            },
                            body : JSON.stringify({ _id : '<%= post[i]._id %>'})
                        })
                    })
        
              </script>
        <% } %>
        
        
      </div> 
</body>
</html>